* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
    color: var(--gray-950);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.card {
    background-color: var(--white);
    max-width: 384px;
    border-radius: 20px;
    border: 1px solid var(--gray-950);
    box-shadow: 8px 8px 0px 0px var(--gray-950);
    padding: 1.5rem;
    margin: 3rem auto;
}

.preview-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-card-image img {
    border-radius: 10px;
}

.preview-card-text {
    margin-top: 1.5rem;
}

.yellow-bg {
    background-color: var(--yellow);
    padding: 4px 12px;
    border-radius: 4px;
    width: 90px;
}

.yellow-bg .category {
    font-size: 14px;
    font-weight: 800;
}

.date {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

a {
    color: var(--gray-950);
    text-decoration: none;
}

.card-post-title {
    font-size: 24px;
    font-weight: 800;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.card-post-title:hover {
    color: var(--yellow);
}

.description {
    color: var(--gray-500);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 0.8rem;
}

.author {
    display: flex;
    align-items: center;
    /* padding: 5.5px 0; */
}

.author img {
    width: 32px;
    height: 32px;
}

.author .name {
    margin-left: 0.8rem;
    font-size: 14px;
    font-weight: 800;
}

.attribution {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.attribution a {
    color: var(--white);
}

@media screen and (max-width: 500px) {
    .card {
        width: 90%;
        margin: 2rem auto;
    }

    .preview-card-image img {
        width: 100%;
    }
}