* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
    color: var(--gray-950);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.card {
    background-color: var(--white);
    width: min(90%, 24rem);
    border-radius: 1.25rem;
    border: 0.0625rem solid var(--gray-950);
    box-shadow: 0.5rem 0.5rem 0rem 0rem var(--gray-950);
    padding: 1.5rem;
    margin-block: 3rem;
    margin-inline: auto;
}

.preview-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-card-image img {
    width: 100%;
    display: block;
    border-radius: 0.625rem;
}

.preview-card-text {
    margin-block-start: 1.5rem;
}

.yellow-bg {
    background-color: var(--yellow);
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    border-radius: 0.25rem;
    width: 5.625rem;
}

.yellow-bg .category {
    font-size: 0.875rem;
    font-weight: 800;
}

.date {
    font-size: 0.875rem;
    font-weight: 500;
    margin-block: 0.8rem;
}

a {
    color: var(--gray-950);
    text-decoration: none;
}

.card-post-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-block: 0.8rem;
}

.card-post-title:hover {
    color: var(--yellow);
}

.description {
    color: var(--gray-500);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    margin-block-end: 0.8rem;
}

.author {
    display: flex;
    align-items: center;
    /* padding: 5.5px 0; */
}

.author img {
    width: 2rem;
    height: 2rem;
}

.author .name {
    margin-inline-start: 0.8rem;
    font-size: 0.875rem;
    font-weight: 800;
}

.attribution {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.attribution a {
    color: var(--white);
}